*{
    margin: 0;
    padding: 0;
}
:root{
    --var--purple:#dadbf1;
    --var--purple-strong:#4c5fd5;
}
.help-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--var--purple);
    margin-bottom: 80px;
}
.help-container h2{
    font-family: Roboto;
    font-weight: 300;
    font-size: 40px;
}
.help-container input{
    width: 90%;
    height: 20%;
    border-radius:5px;
    border: 1px solid black;
    margin-top: 50px;
    padding-left: 10px;
}
.help-container input::placeholder{
    font-size: 20px;
}
.info-component{
    display: flex;
    margin:100px 10px 100px 10px;
}
.info-component-img{
    width: 65px;
    height: 65px;
    margin-right: 10px;
}
.info-component h3{
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
}
.info-component p{
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
}
.info-component a{
    display: flex;
    align-items: center;
    font-size: 20PX;
    color: var(--var--purple-strong);
    text-decoration: none;
}
.info-component a:hover{
    text-decoration: underline;
}
.info-component a img{
    margin-left: 5px;
}