footer{
    background-color: black;
    color: white;
}
.footer-links-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px 10px 20px 10px;
}
.footer-links-container h4{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.footer-links-container p{
    font-size: 16px;
    font-weight:300;
    margin: 5px 0 5px 0;
}
.footer-links-container h5{
    margin-top: 40px;
    font-size: 16px;
}
.footer-info-container{
    padding: 50px 10px 20px 10px;
}
.footer-info-container img{
    background-color: white;
    width: 50px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.footer-info-container p{
    font-size: 18px;
    font-weight:500;
    margin: 5px 0 5px 0;   
}
.footer-info-container:last-child{
    font-size: 10px;
}
.footer-info-container a{
    font-size: 10px;
    text-decoration: none;
}